[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp37-cp37m-win_amd64.whl"}
pyautogui = "*"
py2exe = {path = "./py2exe-0.10.4.1-cp37-cp37m-win_amd64.whl"}
requests = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"
